<nav class="navbar navbar-expand-lg navbar-light bg-light nav-height sticky-top mb-4">
    
  <div class="container ">
    <i class="fas fa-h-square  fa-3x brand-color"></i><h2  class=" font-medium1 brand-color font-primary pr-8 pl-2">Health Max </h2>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
      <span class="font-brand" >Menu</span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto  nav-font font-primary">
        <li class="nav-item nav-font ">
          <a routerLink='/home' class="nav-link main-nav-link nav-font font-primary   pr-3 letter-space">HOME</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink='/packages' class="nav-link main-nav-link  nav-font pr-3 letter-space">PACKAGES</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink='/contact' class="nav-link main-nav-link  nav-font pr-3 letter-space">CONTACT</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto font-primary">
        <li class="nav-item">
          <a routerLink='/signup' class="nav-link main-nav-link   nav-font pr-3 letter-space">SIGN UP</a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav ml-auto font-primary">
        <li class="nav-item">
          <a routerLink='/login' class="nav-link nav-font pr-3 letter-space">LOG IN</a>
        </li>
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink='/blog' class="nav-link main-nav-link current  nav-font pr-3 letter-space ">BLOG</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<hr class="brand-color">
<div class=" main-bg">
  <svg viewBox="0 0 1000 400">
    <text id="my-text" x="50%" y="50%" text-anchor="middle" fill="none">COMING SOON! </text>
    <use xlink:href="#my-text" class="copy copy-1"></use>
    <use xlink:href="#my-text" class="copy copy-2"></use>
    <use xlink:href="#my-text" class="copy copy-3"></use>
    <use xlink:href="#my-text" class="copy copy-4"></use>
    <use xlink:href="#my-text" class="copy copy-5"></use>
    
    
 
  </svg>
 <!-- <span>OOPS! TRY REPHRASING YOUR SEARCH AGAIN</span> -->
 </div>
